[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "~=2.2.5"
flask-sqlalchemy = "~=3.1.1"
flask-wtf = "~=1.1.2"
authlib = "~=1.2.0"
requests = "*"
hiredis = "*"
aioredis = "*"

[dev-packages]

[requires]
python_version = "3.11"
