[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

"Flask" = "*"
"Flask-OAuthlib" = "*"
"Flask-SQLAlchemy" = "*"
"Flask-WTF" = "*"
"gunicorn" = "*"

[requires]

python_version = "2.7"
