<!doctype html>
<html lang="en">
  <head>
    <meta name="author" content="unaffiliated" />
    <meta name="description" content="Sample CRUD app" />
    <meta name="keywords" content="CRUD, python, flask, catalog" />
    <meta name="charset" content="utf-8" />
    <meta name="viewport" content="initial-scale=1,width=device-width" />
    <title>Catalog App - {% block title %}{% endblock %}</title>
    <link rel="dns-prefetch" href="https://cdnjs.cloudflare.com">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:800|Open+Sans">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" integrity="sha256-oSrCnRYXvHG31SBifqP2PM1uje7SJUyX0nTwO2RJV54=" crossorigin="anonymous" />
    <link rel="stylesheet" href="/global.min.css"></link>
  </head>
  <body>
    <div class="flex">
      {% include 'components/header.html' %}
      <main class="container flex">
        {% block content %}{% endblock content %}
      </main>
    </div>
  </body>
</html>
